/* Base Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  line-height: 1.6;
  animation: fadeIn 1s ease-in-out;
}

 

/* Navbar */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(63, 55, 170);
  transition: background-color 0.3s ease;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  z-index: 1000;
}
header .logo {
  font-weight: 600;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li {
  margin-left: 20px;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}
header nav ul li a:hover {
  text-decoration: underline;
}

/* Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.hamburger span {
  height: 3px;
  width: 25px;
  background: #fff;
  margin: 4px 0;
  border-radius: 2px;
}
@media (max-width:768px){
  .hambuger {
    display: flex;
    background: #fff;
  }
}
nav-link{
  display: flex;
  background-color: #fff;
}
@media (max-width: 768px){
  #hero{
    flex-direction: column;
    text-align: center;
  }
  .hero-content{
    max-width: 100%;
  }
  .btns{
    justify-self: center;
  }
  .socials{
    justify-content: center;
  }
  .hero-img{
    margin-top: 40px;
  }
}

/* Hero */
#hero {
   min-height: 100vh;
  background: linear-gradient(135deg, #3b90d1, #0c3268);
  padding: 100px 10%;
  margin-top: 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 #hero .hero-img {
  width: 330px;
  border-radius: 25px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
  border: 5px solid white;
  align-items: right;
  display: flex;
  margin-right: 80px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: auto;
}
#hero .hero-content h1 {
  font-size: 48px;
  margin-bottom: 30px;
  
}
#hero .hero-content p {
  font-size: 24px;
  margin-bottom: 20px;
  padding: 0 20px;
  opacity: 0.9;
}
.tagline{
  font-size: 22px;
  font-weight: 300;
  margin-top: 20px;
  color: #05396b;
}

#hero .btns .btn {
  background: white;
  color: #080808;
  padding: 10px 30px;
  padding-bottom: 5px;
  display: inline-block;
  margin: 30px;
  border-radius: 12px;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}
#hero .btns .btn:hover {
  transform: translateY(-3px);
  background: black;
  color: white;
}
.socials {
    display: flex;
    justify-content: center;   
    gap: 20px;                 
    margin-top: 5px;
}
.socials a {
    font-size: 28px;        
    color: #000;        
    transition: 0.3s ease;
     
}

.socials a:hover {
    color: white;         
    transform: translateY(-2px);  
}

/* Sections */
section {
  padding: 100px 50px;
  text-align: center;
}

#about, #services, #academy, #portfolio, #contact {
  background: #f9f9f9;
  color: #222;
}
.IT-pic{
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
  height: 450px;
  width: 500px;
  box-sizing: border-box;
}

/* Cards */
#services .cards, #portfolio .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.card, .project {
  background: rgb(63, 55, 170);
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  height: 150px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.projected{
  background: rgb(63, 55, 170);
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  height: 210px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.projected img{
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}
.card:hover, .projected:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  background-color: lightseagreen;
}

/* Contact Form */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-card{
  background: rgba(14, 13, 13, 0.7);
  padding: 40px;
  width: 90%;
  max-width: 450px;
  padding: 24px;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
  color: #fff;
  align-items: center;
}
form input, form textarea {
  width: 100%;
  max-width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.t{
  height: 100px;
}
#name{
  width: 430px;

}
form button {
  padding: 12px 25px;
  border: none;
  border-radius: 5px;
  background: #080808;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
form button:hover {
  background: #281fda;
}

/* Footer */
footer {
  background: #222;
  color: white;
  padding: 20px;
  text-align: center;
}
footer a {
  color: #f4f4f4;
  text-decoration: none;
}
footer a:hover {
  color: #075ff7;
}

/* Responsive */
@media (max-width: 768px) {
  header nav ul {
    display: none;
    flex-direction: column;
    background: #cc78be;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
  }
  header nav ul li {
    margin: 15px 0;
  }
  .hamburger {
    display: flex;
  }
  header nav ul.active {
    display: flex;
  }
 
}
.pt{
    margin-bottom: 50px;
}